body{
    background:rgb(19, 18, 18);
    margin: 0;
    padding:0;
  
  }
  
   /*.logo {
       position: relative;;
       float: right;
       color:Blue;
      font-size: 2px;
      font-weight: bold;
      font-family: sans-serif;
    
   
      }*/
      
      .nav{
        
          position: relative;
          text-align: right;
          top:0px;
          width:100%;
          align-items: center;
          line-height: 60px;
          height:70px;
          background:linear-gradient(45deg,#2c3e50,rgb(78, 77, 77),#34495e);
          box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
          z-index: 1;
  
      }

      #greeters{
        color:rgb(207, 203, 203);
          margin:10px 10px;
          font-size: 25px;
      }
    

      .round{
          position: absolute; 
          height:300px;
          width: 300px;
          border-radius: 50%;
          left: 53%;
          top:20%;
          border: none;
          color: black;
          opacity: 0.2;
          background:linear-gradient(#14ffe9, #ffeb3b,#ff00e0); 
          animation: animate 0.5s linear infinite;
          /*background: linear-gradient(45deg,#14ffe9, rgb(162, 126, 235), rgb(139, 138, 138), grey, rgb(35, 35, 156));*/
          
      }
      /*
      @keyframes animate{
          from{
              transform: rotate(0deg);
          }
          to{
              transform: rotate(360deg);
          }
      }*/
      
      .round:after{
            
            content: '';
            position: absolute;
            top: 25px;
            left: 25px;
            bottom: 25px;
            right: 25px;
            border-radius: 50%;
            background-color: rgb(102, 92, 156);  
        
            
      }

      #roo{
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 50%;
       background:linear-gradient(#14ffe9, #ffeb3b,#ff00e0);
        

      }

      #roo:nth-child(1){
          filter:  blur(5px);
        
      }
      #roo:nth-child(2){
           filter: blur(10px);
           
      }
      #roo:nth-child(3){
        filter: blur(20px);
        
      }
      #roo:nth-child(4){
        filter: blur(50px);
      }
    
      /*barba.js section*/
      .wrapper{
          padding: 1em;
      }
      .wrapper a {
          color: #fff;
          text-decoration: none;
          padding: 20px;
          font-size: 20px;
      }
      .wrapper h1{
          color: violet;
          font-size: 3em;
      }
      .wrapper .cta{
          display: block;
          padding: 2em 2em 2em 0;
          font-size: 1.4em;
      }

      .wrapper img{
          width: 100%;
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      }

      ul{
          list-style: none;
          display: flex;
          padding: 0;
          margin-right: 0 auto;
      }
      
      ul .transition{
          display: flex;
          position: absolute;
          z-index: 10;
          height: 100vh;
          width: 100%;
          top: 0;
          left: 0;
          margin: 0;
          pointer-events: none;
      }
       ul .transition li{
           transform: scaleY(0);
           background-color: yellow;
           width: 20%;
       }


    /* BArba.js ends here*/


  
  .menu{
          font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          color:#fff;
          font-size: 16px;
          font-weight: 700;
          width: 100%;
          text-decoration: none;
      }
      .menu a{
        list-style-type: none;
        text-decoration: none;
        display: inline;
        padding:20px;
        color: #fff;
        margin: 0 10px;
        line-height: 70px;
        transition: 0.5s ease-in;

    }
     
      label{
          margin: 0 40px 0 0;
          font-size: 25px;
          line-height: 60px;
          color: rgb(162, 132, 184);
          display: none;
      }

      #toggle{
          display:none ;
          margin: 0px;
      }

.active{
        font-weight: bold;
        color: #2d2a2a;
    } 
.menu a:hover{        
         color:mediumslateblue;
     }

     /*This is for the first container of text*/
     .container{
        width:100%;
        height: 500px;
     }
     .text-container{
       position: absolute;
       left:50%;
       top:40%;
       transform: translate(-50%,-50%);
       margin-top: 50px;
       border-radius: 10px;
       
   }
/* THis for the coloring of the text in the text container*/
.trend{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 500px;
}
.trend h3:nth-child(1){
    height: 50px;
    width: 120px;
    border:2px solid none;
    background: purple;
    line-height: 50px;
}

 .trend h3:nth-child(2){
     height: 50px;
     width: 120px;
     border:2px solid none;
     background:rgb(61, 60, 60);
     color:white;
     line-height: 50px;
 }
 .trend h3:nth-child(3){
    height: 50px;
    width: 120px;
    border:2px solid none;
    background:blue;
    line-height: 50px;
}

.text-container p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:rgb(86, 66, 117);
    font-size: 35px;
    text-align: center;
    
  }

  .text-container p:nth-child(2){
      font-family:Cambria , Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
      letter-spacing: 1px;
      color: #fff;
      font-size: 50px;
      text-align: center;
  }
  .text-container p:nth-child(3){
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
      color:rgb(211, 41, 160);
      font-weight: bolder;
      font-size: 20px;
      text-align: center;       
    }
    .tc p span{
    }
    
    .tc p{
        line-height: 20px;
    }
    span{
        opacity: 0;
        transition: all 1s  ease;
        color: red;  

    }
    span.fade{
        opacity: 1;
        color: #fff;
    }
    #bak{
        background: #000;
    }

  .text-container p{
      line-height:px;   
  }
   
  .text-container button{
      width:130px;
      height:42px;
      border-radius: 10px;
      border:none;
      cursor: pointer;
      font-family: sans-serif;
      font-size: 16px;
      font-weight: bold;
      margin: 10px;
   }
   .buts{
       
       margin-top: 0px;
       display: flex;
       justify-content: center;
       text-decoration: none;   
    
   }
   .tc button {
    background-color: #fff;
    text-decoration: none;
    
   }
   .tc button a{
       text-decoration: none;
       font-size: 20px;
       color: #110f10;
   }
   .tc button a:hover{
       color:#fff;
    
   }
 .tc button :hover{
    transform: scale(1.1);
}
.tc button:hover{
    background-color:;
}
/*Next Section for About myself*/
.about-container{
    width: 80%;
    height:400px;
    position: absolute;
    margin-top: -40px;
    background-color: rgba(204, 199, 199, 0.216);
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    color: white;
    display: flex;
    margin-left: 90px; 
    flex-wrap: nowrap;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/bright\ paris\ with\ ;love.jpg') no-repeat;
    background-size:cover;

 }
.profo{
    margin: 100px;
    display: flex;
    height: 0px;
    width: 0px;
   
}
 .about-container img{ 
     border-radius: 20px;
     margin-top: -50px;
     margin-left: -80px;
     opacity: .2;
 }

 /*text in the container*/
 
 .about-text{
    margin-top: 10px;
    margin-left: -150px;
    padding: 5px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    justify-content: center;
    display: inline-block;
 }
 .about-text  h3{
     display: flex;
     justify-content: center;
     font-size: 35px;
 }
 hr{
     border: 2px solid burlywood;
 }

 
 
 /*for the ABOUT BUTTON*/
 .abt{
     width:150px;
     height:40px;
     border-radius: 10px;
     border: none;
     font-size: 18px;
     background-color:burlywood;
     color: whitesmoke;
     font-weight: bold;
     cursor: pointer;
     transition: .6s;
 }
 .abt:hover{
     transform: scale(1.2);
 }
 .abt a{
     text-decoration: none;
     color: black;
 }
 .abt a:hover{
     color:#603f83ff;
 }

 /* THE BOX for project*/
 .box-container{
    display: flex;
    justify-content: space-between;
    width:100%; 
    
    align-items: center;
    justify-content: center;
    margin-top: 43%;
    /*background: linear-gradient(45deg,#7f8c8d,#34495e,#2c3e50,rgb(46, 41, 41));*/
    transition: .6s;
   
}
.box-text{

    display:flex;
    flex-direction: column-reverse;    
    position: absolute;
    font-size: 25px;
    margin-top: -40%;
    margin-left: -20px;
    color: #fff;
    
}

.box-container a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    border: 2px solid transparent;
    padding: 30px;    
    
}
.box-container a:hover{
    color: black;
}

.box-1,.box-2,.box-3{
    height:300px;
    width:300px;
    border: 2px solid none;
    margin:20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    box-shadow: 5px 10px #646161;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    transition: .6s; 
}

.box-1{
    background: linear-gradient(45deg, #ae55d8, rgb(42, 69, 126), #24292c);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    
}

.box-2{
    background: linear-gradient(45deg, #ae55d8, rgb(42, 69, 126), #24292c);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
.box-3{
    box-shadow: 5px 10px #948e8e;
}
.box-3:hover{
    background-color: yellow;
    color: black;
    
}




/*@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.box-1:hover{
    transform: translate(0, -10px);

}
.box-2:hover{
    transform: translate(0, -10px);
 
}

.box-3:hover{
    transform: translate(0, -10px);
}
*/
  .box-2 p:nth-child(3){
   color: black;
   line-height: 20px;
   justify-content: center;
   background-color: rgb(255, 205, 209);
}

.box-1, .box-2, .box-3{
   background-color: black;
   background-size: cover;
   background-position: center;    
}
.box-1 span, .box-2 span, .box-3 span{
  widows: 180px;
  display:flex;
  text-align: center;
  color:white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}
.box-1,.box-2,.box-3{
    animation: slideMe 2s ease-in;
}

.box-house small{
    font-size: 16px;
    position: absolute;
    bottom:3%;
    left:4%;
    color: #fff;
    font-weight: bold;
}

.box-3 small{
    position: relative;
    top: 40%;
    left: 20%;

}

@keyframes slideMe{
    0%{
        transform: translate(-150px);
    }
    60%{
        transform: translateX(0px);
    }
    100%{
        transform: (0deg);
    }
}




/*Footer section*/

footer{
    height:300px;
    width: 100%;
   /* background: linear-gradient(45deg,#7f8c8d,#2c3e50,rgb(46, 41, 41));*/
    font-size: 18px;
    display: flex;
    flex-direction: column;
    line-height: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    background-color: #000;
   
}

footer p:nth-child(1){
    font-size: 25px;
    font-weight: bold;
    color: #9a76af;
    
}


footer p:nth-child(2){
    font-size: 18px;
    color: white;
    
}


.social-media {

    display: flex;
    
}


.social-media a{
    height: 30px;
    width: 30px;
    border-radius: 30%;
    background-color: #e6e3e3;
    box-shadow: 0 5px 3px 4px rgba(0,0,0,0.5);
    border: none;
    margin: 10px; 
    color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    transition: .6s;
   
    
}
.social-media a:hover{
   transform: translate(0, -10px);
}
.social-media i{
    font-size: 20px;
    transition: 0.2s linear;
}
.soo i:hover{
    transform: scale(1.3);
    color:#fff;
}
.social-media a:nth-child(1):hover{
    background-color:#dd4b39;
    }
   
.social-media a:nth-child(2):hover{
background-color:black;
}
.social-media a:nth-child(3):hover{
    background-color:#55acee;
    }

.social-media a:nth-child(4):hover{
background-color:#25D366;
}
.footer-bottom{
    color:#ab78e2;
    background-color: rgb(7, 7, 7);
    height:20px;
    width:100%;
    position: absolute;
    bottom:0px;
    ;
    font-size: 14kpx;
    padding-top: 10px;
    line-height: 10px;
    text-align: center;
}

.coverall{
    height: auto;
    background: linear-gradient(45deg,#7f8c8d,#2c3e50,rgb(46, 41, 41));
}

@media screen and (max-width:900px){
    label{
        display: block;
        cursor: pointer;
        float: right;
        line-height: 70px;
       
    }
    .box-text{
    
    margin-top: -1050px;
    }
    .box-container{
        display: flex;
        height: auto;
        flex-direction: column;
    }
    label:hover{
        color:#fff;
    }
    #toggle{
        display: none;
    }
    .menu {
        text-align: center;
        width: 90%;
        height: 100%;
        display: none;
        box-sizing: border-box;
        
    }
     .menu a{
         clear: right;
        display: block;
        border: 1px solid rgb(44, 1, 44);
        background-color: #000;  
    
     }
     .menu a:hover{
        color:rgb(149, 14, 245);
     }

     #toggle:checked + .menu{
         display: block;
     }
     
   
    /* nav ul{
        margin: 0px;
        padding: 0px;
        
        top:0px;
        left:0px;
        position: ;
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;
        align-items: center;
        z-index: 1;
        
        
    }
      nav ul li a{
        padding: 22px;
        margin: 1px;
    }
    .logo {
        text-decoration: none;
        color:rgb(33, 33, 68);
       font-size: 14px;
       display: flex;
       
       
    }*/
   
   
    .container{
       height: 110vh;
   }
  
   .text-container{
       margin-left: 0px;
       justify-content: center;
       align-content: center;
       width: 100%;
       
   }
   .trend{
        display: ;
        margin-top: -130px;
        margin-left: 20px;
        opacity: .2;
    
   }
  
   
   .about-container{
      margin-top:-250px;
      margin-left: 70px;
      height: 450px;
      
}
.profo img{
    height: 0px;
    width: 0px;
}
.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: -60px;
    margin-left: -200px;
    
}
.about-text h3, p{
    font-size: 18px;
}
hr{
    border: 2px solid burlywood;
    width: 80%;
    margin-top: -10px;
}

.about-text h3{
    font-size: 30px;
}
.abt{
    margin-left: 3px;
    position: absolute;
    bottom: 20px;
    left:35.1%;
    transition: .6s;

} 
.abt:hover{
    background-color: #fff;
    color: #000;
    transform: translate(0, -10px);
    box-shadow: 2px 4px 5px rgb(0,0,0,0.5);
} 

.box-text{

    display:flex;
    flex-direction: column-reverse;    
    position: absolute; 
    justify-content: center;
    align-content: center;
    color: #fff;
   
    
}
.box-text p{
    font-size: 25px;
    margin-top: -29%;
}


footer p:nth-child(2){
    font-size: 18px;
    color: white;
    line-height: 20px;
    text-align: center;   
}  
.footer-bottom{
    font-size: 12px;
} 
}

@media screen and (max-width:600px){
    
    #greeters{
        float:right;
        color:rgb(207, 203, 203);
    }
    .round{
        height: 220px;
        width: 220px;
        border-radius: 50%;
        left:3%;
        top: 25%;
        opacity: .1;
    }
    
    /*.tc button a{
        color:pink;
    }
    nav ul{
        margin: 0px;
        padding: 0px;
        background-color:#616b6f;
        width:100%;
        display: flex;
        top:0px;
        left:0px;
        position: fixed; ;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        align-items: center;
        z-index: 1;
    }

    nav ul li a{
        color:blue
    }*/

    .tc button:nth-child(1){
        background-color: indigo;   
    }
    .buts button a:nth-child(1){
        color: #fff;
    }
    #my{
        color: #000;
    }

    #greeters{
        font-size: 18px;
    
    }


    

    .trend{
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-left: 135px;
        margin-top: -60px;
        width: 60%;
    }

    .text-container{
        
        position: absolute;
        left:48%;
        top:50%;
        transform: translate(-50%,-50%);
        border-radius: 10px;
        width: 100%;
        margin-bottom: 20px;
    
  
    
    }
    .text-container p:nth-child(2){
      font-size: 25px;
      text-align: center;

  }
  .text-container p:nth-child(3){
      font-size:4vw;
      line-height: 1px;
      margin-left: 3px;
      width: 100%;
    }
  


    .about-container{
       /* display: flex;
        flex-wrap: nowrap;
        left: -20px;*/
        margin-top:-240px;
      margin-left: 34px;
      height: 480px;  
        
    }
    .about-text{
        display: flex;
        position: relative;;
        margin-top: 20px;
        line-height: 30px;
        font-size: 25px;

    }
    .about-text h3{
        font-size: 16px;
    }
    
    .abt{
        display: flex;
        position: relative;
        margin-top: 20px;
        margin-left: -25px;
        text-align: center;
        justify-content: center;
        line-height: 40px;
        font-size: 20px;
    }
  .box-container{
        display: flex;
        flex-direction: column;
        height: auto;
        position: relative;
        margin-top: 80%;
        

  }  
  .box-text{

    display:flex;
    flex-direction: column-reverse;    
    position: absolute; 
    margin-top: -275%;
    margin-left: 20px;
    justify-content: center;
    align-content: center;
    color: #fff;
    width:50%;
    display: none;
    
}
.box-text p{
    font-size: 16px;
}

  .box-3:hover{
      background-color: yellow;
      color: black;
  } 
  
    
  footer p:nth-child(2){
    font-size: 14px;
    color: white;
    line-height: 20px;
    text-align: center;   
}   

.footer-bottom{
    font-size: 12px;
}
.social-media a{
    color: #fff;
}
.social-media a:nth-child(1){
    background-color:#dd4b39;
    }
   
.social-media a:nth-child(2){
background-color:black;
}
.social-media a:nth-child(3){
    background-color:#55acee;
    }

.social-media a:nth-child(4){
background-color:#25D366;
}
 
}






  

